---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Blog from '../components/Blog.astro';
import CallToAction from '../components/CallToAction.astro';
import Features from '../components/Features.astro';
import Stats from '../components/Stats.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Home">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Features/>
		<!-- <Stats/> -->
		<!-- <Testimonials/> -->
		<!-- <CallToAction/> -->
		<!-- <Blog/> -->
	</main>

	</Layout>