---
import Container from "./Container.astro";
import { SOCIALS, SocialNetwork } from "../consts";
---

<footer class="pb-10 md:pb-10">
  <Container>
    <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
      <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
        <div
          class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300 sm:w-7/12 md:justify-start"
        >
          <ul class="space-y-8">
            <li><a href="#" class="transition hover:text-primary">Home</a></li>
          </ul>
          <ul role="list" class="space-y-8">
            {
              SOCIALS.map((social: SocialNetwork) => (
                <li>
                  <a
                    href={social.url}
                    class="flex items-center space-x-3 transition hover:text-primary"
                  >
                    <i class={`fab fa-${social.icon} text-2xl`} />
                    <span>{social.name}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-5/12 sm:text-left"
        >
          <ul role="list" class="space-y-8">
            <li>
              <a
                href="https://preview.tailus.io/astrolus-free/"
                target="_blank"
                class="font-medium">Base theme by Tailus Blocks</a
              >
            </li>
            <li>
              <a
                href="https://www.flaticon.com/authors/special/lineal-color?author_id=1&type=standard"
                class="font-medium">Some icons by Freepik</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Container>
</footer>
